@charset "ISO-8859-1";
 #demo {
  width: 90%;
  height: 50%;
  margin: 0;
  padding: 0;
}
 #demo1 {
  width: 90%;
  height: 50%;
  margin: 0;
  padding: 0;
}
 #demo2 {
  width: 90%;
  height: 50%;
  margin: 0;
  padding: 0;
}